 .movieInfo {
    display: flex; 
} 
.imageMovie {
    width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 
ul{
    list-style: none;
}
.DescriptionMovieDiv{
    margin-top: 2rem;
}
